APP_TITLE="Hotel Reviews Service"
APP_PORT=9090
CSV_PATH="resources/sample.csv"
API_KEY=""
API_URL=""
API_VERSION=""
ELASTIC_HOST="127.0.0.1"
ELASTIC_PORT=9200
ELASTIC_INDEX_NAME="hotels"
ELASTIC_TYPE_NAME="hotel"